<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>荆州鱼糕</string>
		<key>price</key>
		<real>23.5</real>
		<key>url</key>
		<string>yugao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>红薯拿铁</string>
		<key>price</key>
		<real>8</real>
		<key>url</key>
		<string>hongshulatie.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>枇杷柚子百合饮</string>
		<key>price</key>
		<real>6.5</real>
		<key>url</key>
		<string>papayouzi.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>水晶虾饺</string>
		<key>price</key>
		<real>12.5</real>
		<key>url</key>
		<string>shuijingjiao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>荆州鱼糕</string>
		<key>price</key>
		<real>23.5</real>
		<key>url</key>
		<string>yugao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>荆州鱼糕</string>
		<key>price</key>
		<real>23.5</real>
		<key>url</key>
		<string>yugao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>荆州鱼糕</string>
		<key>price</key>
		<real>23.5</real>
		<key>url</key>
		<string>yugao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>荆州鱼糕</string>
		<key>price</key>
		<real>23.5</real>
		<key>url</key>
		<string>yugao.jpg</string>
		<key>shop</key>
		<dict>
			<key>name</key>
			<string>荆州小站</string>
			<key>adress</key>
			<string>长大东校区小西门南500米</string>
		</dict>
	</dict>
</array>
</plist>
